app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/admin.cpython-310.pyc
app/__pycache__/apps.cpython-310.pyc
app/__pycache__/models.cpython-310.pyc
app/__pycache__/urls.cpython-310.pyc
app/__pycache__/views.cpython-310.pyc
app/migrations/__init__.py
app/migrations/__pycache__/__init__.cpython-310.pyc
Snackviddown/__pycache__/__init__.cpython-310.pyc
Snackviddown/__pycache__/settings.cpython-310.pyc
Snackviddown/__pycache__/urls.cpython-310.pyc
Snackviddown/__pycache__/wsgi.cpython-310.pyc
db.sqlite3
